SUPABASE_URL=
SUPABASE_SERVICE_KEY=
BALLDONTLIE_API_KEY=
ODDS_API_KEY=
ODDS_API_REGIONS=us
ODDS_API_MARKETS=h2h,spreads,totals
SPORTSDATAIO_API_KEY=
SPORTSDATAIO_BASE_URL=https://api.sportsdata.io/v3/nba/scores/json
PORT=3001
